<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #D3D3D3;
}

{ margin-left: 40%; margin-right: 40%
}

h1 {
  color: #1434A4 ;
  text-align: center;
  font-family: "Times New Roman", Times, serif;;
  font-size: 14px;
}
h2 {
  color: #1434A4 ;
  text-align: left;
  font-family: "Times New Roman", Times, serif;;
  font-size: 14px;
}
p {
  font-family: "Times New Roman", Times, serif;;
  font-size: 14px;
}

/* new links */
a { color: #0818A8; text-decoration: none; }

/* visited links */
a:visited { color: 	#6495ED; text-decoration: none; }

/* mouse-over */
a:hover { color: #0818A8; text-decoration: underline; }

/* active links*/
a:active { color: black ; text-decoration: underline ; }

</style>
</head>
</html>


