body {font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: left;
  color: #660000;
  p.Red {color: "red"; }
  /* new links */
a { color: #660000; text-decoration: bold; }
/* visited links */
a:visited { color: #66000080; text-decoration: none; }
/* mouse-over */
a:hover { color: #660000; text-decoration: underline; }
/* active links*/
a:active { color: #660000 ; text-decoration: underline ; }
table, th, td 
  border: 1px color: #660000;
}
