Body { margin-left:10%;margin-right:10%; font-family:Apple Chancery;font-weight: bold;color:#10380d;}
            h1 {color:#5c1d69}
            a {color:#10380d; text-decoration:none;}
            a:hover {text-decoration:underline;}
            a:visited {color:#5c1d69;}
