h2 {color: #000066;}
body {margin-left: 10%; margin-right: 10%; font-family: Brill Helvetica}
a {color: #003366; text-decoration: none}
a:visited {color: #660066; text-decoration: none}
a:hover {color:#003366; text-decoration: underline}
